.footer {
    padding: 40px 0;
    background-color: #000; 
    border-top: 1px solid #1a1a1a; 
    text-align: center;

    &__text {
        color: #ccc;
        font-size: 14px;
        
        strong {
            color: #bada55;
        }
    }

    &__socials {
        margin-top: 16px;
        color: #888;
        font-style: italic;
    }
}